<div>
    <form>
        <div>
            <label>Student Id</label>
            <input type="number" name="studentId" [(ngModel)] = "studentId" placeholder="Enter student Id">
        </div>
        <div>
            <label>firstName</label>
            <input type="text" name="firstName" [(ngModel)] = "firstName" placeholder="Enter firstName">
        </div>
        <div>
            <label>lastName</label>
            <input type="text" name="lastName" [(ngModel)] = "lastName" placeholder="Enter lastName">
        </div>
        <div>
            <label>email</label>
            <input type="email" name="email" [(ngModel)] = "email" placeholder="Enter email">
        </div>
        <div>
            <label>DNI</label>
            <input type="number" name="dni" [(ngModel)] = "dni" placeholder="Enter dni">
        </div>
        <div>
            <label>address</label>
            <input type="text" name="address" [(ngModel)] = "address" placeholder="Enter address">
        </div>
    </form>
</div>