nav{
    background: black;
    justify-content: center;
}

ul{
    margin: 0 60px;
}

li{
    padding: 10px;
    margin: 0px 100px;
}

a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

li:hover{
    transition: all 1s;
    scale: 1.2;
    /* float: right; */
}